<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, <span th:text="${username}">User</span></h1>

    <div>
        <button th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" onclick="window.location.href='/account-balance'">
            Show Account Balance
        </button>

        <button th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" onclick="window.location.href='/interest-rate'">
            Show Interest Rate
        </button>
    </div>
</body>
</html>
